<div class="row">
    <div class="col-md-10">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Job's Name
                    </th>
                    <th>
                        Fire Time
                    </th>
                    <th>
                        Next Fire Time
                    </th>
                    <th>
                        Previous Fire Time
                    </th>
                    <th>
                        Scheduled Fire Time
                    </th>
                    <th>
                        Command
                    </th>
                    <th>
                        Error Message
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in content.content" ng-class="result.errors ? 'danger' : 'success'">
                    <td>
                        {{result.job.name}}
                    </td>
                    <td>
                        {{result.fireTime | date:'dd/MM/yyyy - HH:mm:ss'}}
                    </td>
                    <td>
                        {{result.nextFireTime | date:'dd/MM/yyyy - HH:mm:ss'}}
                    </td>
                    <td>
                        {{result.prevFireTime | date:'dd/MM/yyyy - HH:mm:ss'}}
                    </td>
                    <td>
                        {{result.scheduledFireTime | date:'dd/MM/yyyy - HH:mm:ss'}}
                    </td>
                    <td>
                        {{result.job.command}}
                    </td>
                    <td>
                        {{result.errorsMessage}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
            class="pagination-sm"></ul>
    </div>
</div>