<div class="row">
    <div class="col-md-4">
        <h2>
            Jobs Results and Next Fires.
        </h2>
    </div>
</div>
<div class="row" style="margin-top: 10px">
    <div class="col-md-10">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        Job's Name
                    </th>
                    <th>
                        Fire Time
                    </th>
                    <th>
                        Next Fire Time
                    </th>
                    <th>
                        Previous Fire Time
                    </th>
                    <th>
                        Scheduled Fire Time
                    </th>
                    <th>
                        Command
                    </th>
                    <th>
                        Command Output
                    </th>
                    <th>
                        Error Message
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in content.content" ng-class="result.errors ? 'danger' : 'success'">
                    <td>
                        {{result.job.name}}
                    </td>
                    <td>
                        {{result.fireTime | date:'dd/MM/yyyy - HH:mm:ss'}}
                    </td>
                    <td>
                        {{result.nextFireTime | date:'dd/MM/yyyy - HH:mm:ss'}}
                    </td>
                    <td>
                        {{result.prevFireTime | date:'dd/MM/yyyy - HH:mm:ss'}}
                    </td>
                    <td>
                        {{result.scheduledFireTime | date:'dd/MM/yyyy - HH:mm:ss'}}
                    </td>
                    <td>
                        {{result.job.command}}
                    </td>
                    <td>
                        <span ng-click="openModal(result, 'lg')"> {{result.output | limitTo:60}} </span>
                    </td>
                    <td>
                        <span ng-click="openModal(result, 'lg')"> {{result.errorMessage| limitTo:60}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <ul uib-pagination max-size="10" boundary-links="true" total-items="totalItems" ng-model="currentPage"
            ng-change="pageChanged()"
            class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
            last-text="&raquo;"></ul>
    </div>
</div>
<script type="text/ng-template" id="modalOutput.html">

    <div class="modal-body" id="modal-body">
        <div class="pre-scrollable" style="white-space: pre-wrap" ng-hide="job.errors">
            {{job.output}}
        </div>
        <div class="pre-scrollable" style="white-space: pre-wrap" ng-hide="!job.errors">
            {{job.errorMessage}}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeModal()">Close</button>
    </div>
</script>