<div class="row">
    <div class="col-md-3">
        <h2>
            Jobs Results and Next Fires.
        </h2>
    </div>
    <div class="col-md-2">
        <div class="form-group" style="margin: 17px 0;">
            <input ng-model="searched" ng-change="search()" class="form-control input-medium"
                   placeholder="search by name">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-inline" style="margin: 17px 0;">
            <label>
                Reload <input ng-model="reloadTime" type="number" class="form-control input-sm"
                              placeholder="Auto Reload" style="width: 50px">
                <input type="checkbox" class="checkbox checkbox-inline" ng-init="checked=false" ng-model="checked" ng-click="startAuto(checked)">
            </label>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px; font-size: 12px;">
    <div class="col-md-12 nofocus">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        JOBS's NAME
                    </th>
                    <th>
                        RUN TIMES
                    </th>
                    <th>
                        FIRE TIME
                    </th>
                    <th>
                        NEXT FIRE TIME
                    </th>
                    <th>
                        PREVIOUS FIRE TIME
                    </th>
                    <th>
                        SCHEDULED FIRE TIME
                    </th>
                    <th>
                        COMMAND
                    </th>
                    <th>
                        COMMAND OUTPUT
                    </th>
                    <th>
                        ERROR MESSAGE
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in content.content"
                    ng-class="isDanger(result)"
                    ng-click="openModal(result, 'lg')">
                    <td>
                        {{result.job.name | limitTo:40}}
                    </td>
                    <td>
                        {{result.jobRunTime}}
                    </td>
                    <td>
                        {{result.fireTime | date:'dd/MM/yyyy - HH:mm:ss'}}
                    </td>
                    <td>
                        {{result.nextFireTime | date:'dd/MM/yyyy - HH:mm:ss'}}
                    </td>
                    <td>
                        {{result.prevFireTime | date:'dd/MM/yyyy - HH:mm:ss'}}
                    </td>
                    <td>
                        {{result.scheduledFireTime | date:'dd/MM/yyyy - HH:mm:ss'}}
                    </td>
                    <td>
                        {{result.job.command | limitTo:40}}
                    </td>
                    <td>
                        {{result.output | limitTo:40}}
                    </td>
                    <td>
                        {{result.errorMessage| limitTo:40}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <ul uib-pagination max-size="10" boundary-links="true" total-items="totalItems" ng-model="currentPage"
            ng-change="pageChanged()"
            class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
            last-text="&raquo;"></ul>
    </div>
</div>
<script type="text/ng-template" id="modalOutput.html">

    <div class="modal-body" id="modal-body">
        <div style="margin: 20px">
            <div class="row">
                <h5>Name: <span style="color: #5c5e63">{{job.job.name}}</span></h5>
                <h5>Fire Time: <span style="color: #5c5e63">{{job.fireTime | date:'dd/MM/yyyy - HH:mm:ss'}}</span></h5>
                <h5 ng-hide="job.job.directory === ''">Directory: <span
                        style="color: #1a91ff">{{job.job.directory}}</span>
                </h5>
                <h5 ng-hide="job.job.command === ''">Command: <span
                        style="color: blue">{{job.job.command}}</span>
                </h5>
            </div>
            <div class="row">
                <div class="pre-scrollable"
                     style="white-space: pre-line; overflow: scroll; border: 2px solid #5c5e63; padding: 5px;"
                     ng-hide="job.errors">
                    {{job.output}}
                </div>
                <div class="pre-scrollable"
                     style="white-space: pre-line; overflow: scroll; border: 2px solid #5c5e63; padding: 5px;"
                     ng-hide="!job.errors">
                    {{job.errorMessage}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeModal()">Close</button>
    </div>
</script>