<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <form name="loginForm">
            <div class="form-group">
                <label for="usernameInput">Username</label>
                <input class="form-control" id="usernameInput" ng-model="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" ng-model="password"
                       placeholder="Password">
            </div>
            <button ng-click="doLogin(loginForm)" class="btn btn-default">Login</button>
        </form>
    </div>
</div>